@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-y{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/img/contactus2_bg.jpg);
    background-size: cover;
}

.contact-y .content-y{
    max-width: 800px;
    text-align: center;
}

.contact-y .content-y h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact-y .content-y p{
    font-weight: 500;
    color: #fff;
}

.container-y{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-y .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #00bcd4;
}

.container-y .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container-y .contact-info .box .icon-c{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.container-y .contact-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container-y .contact-info .box .text h3{
    font-weight: 500;
    color: #000000;
}

.contact-form{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact-form .input-Box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-Box input,
.contact-form .input-Box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-Box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-Box input:focus ~ span,
.contact-form .input-Box input:valid ~ span,
.contact-form .input-Box textarea:focus ~ span,
.contact-form .input-Box textarea:valid ~ span{
    color: #00bcd4;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-Box input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact-y{
        padding: 50px;
    }

    .container-y{
        flex-direction: column;
    }

    .container-y .contact-info{
        margin-bottom: 40px;
    }

    .container-y .contact-info, .contact-form{
        width: 100%;
    }
}